.main {
  position: absolute;
  background: rgb(0, 0, 0, 0.1);
  width: 50%;
  opacity: 0;
  margin: 10px;
  z-index: -1;
  height: fit-content;
}

.mainActive {
  height: auto;
  position: relative;
  min-width: 280px;
  opacity: 1;
  z-index: 0;
  transition: opacity 2s;
}

.h1 {
  top: 0;
  position: sticky;
  text-align: center;
  background: inherit;
}

.wrapper {
  position: sticky;
  top: 41px;
  background: none;
}
.h4 {
  overflow: hidden;
  background: none;
  margin: 5px;
}
.spinner {
  justify-content: center;
  background: none;
}

.spinner svg {
  background: none;
  margin: 5px;
}

.close {
  background: none;
}
.close:hover {
  cursor: pointer;
}
