.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
  padding: 5px;
  width: 250px;
  height: 300px;
  border-width: 2px;
  border-style: inset;
  border-color: rgb(118, 118, 118);
}
