* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: darkgray;
}
html {
  min-width: 280px;
}

h1 {
  text-align: center;
}

#root {
  display: flex;
}

.main-area {
  margin: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
